<div style="display: flex;" id="web-body">
  <div id="left-side-bar">
    <div style="margin-bottom: 10%; font-weight: bold; font-size: 1.2em;">
      <a style="color: rgb(84, 84, 84);" href="/Project">Project Lst..</a>
    </div>
    <div style="margin-bottom: 5%; font-weight: bold;  font-size:1.2em;">
      <p style="color:blue; margin: 0 0 0 0 ;">New</p>
    </div>
    <div> <a style="color: rgb(84, 84, 84);" href="/Project/NewProject">Projectttt</a>
    </div>
    <div> <a style="color: rgb(84, 84, 84);">Customerrr></a> </div>
    <div> <a style="color: rgb(84, 84, 84);">Supplierrr</a> </div>
  </div>
  <div id="content-body">
    <router-outlet></router-outlet>
  </div>
</div>
